.footer {
  display: flex;
  width: 100%;
  border-top: 1px solid #eaeaea;
  font-size: 14px;
  padding: 16px;
  justify-content: center;
  align-items: center;

  a {
    color: inherit;
    text-decoration: none;
    margin-left: 16px;
  }
}
