@import "mixins.scss";

.form {
  display: flex;
  flex-wrap: wrap;

  .formItem {
    display: flex;
    align-items: center;
    margin-right: 16px;
    @include mobile {
      width: 100%;
      margin-bottom: 8px;
      margin-right: 0;
    }

    .inputContainer {
      flex-grow: 1;
    }

    select, input {
      padding: 4px;
    }

    select {
      width: 3rem;
    }

    label {
      margin-right: 4px;
    }

    button {
      cursor: pointer;
    }
  }
}

.match {
  margin-bottom: 1rem;
}

.result {
  font-weight: bold;
}
